<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">

	<insert id="insert" parameterType="MemberDTO">
		insert into member values
		(#{id}, #{pw}, #{name}, #{email}, #{phone}, #{age}, #{job} )
	</insert>

<update id="memberUpdate" parameterType="MemberDTO">
  			update member
  			<trim prefix="set" suffixOverrides=",">
  			pw=#{pw},
  			name=#{name},
  			email=#{email},
  			phone=#{phone},
  			age=#{age},
  			job=#{job},
  			<if test="fname!=null">
  			fname=#{fname},
  			oname=#{oname}
  			</if>
  			</trim>
  			where id=#{id}  
  		</update>

</mapper>

